<form class="input-group user-auth" action=<%= session_url %> method="post">
  <img class="user-auth-logo" src="/assets/FoodieFridge-logo.png" />
  <h2>Sign In</h2>

  <% if flash.now[:errors] %>
    <div class="alert alert-danger text-center" role="alert">
      <%= flash.now[:errors][0] %>
    </div>
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input class="form-control" type="text" name=user[username] value="" id="username" placeholder="Username">
  <br>
  <br>
  <input class="form-control" type="password" name=user[password] value="" id="password" placeholder="Password">
  <br>
  <br>
  <input class="form-control" type="submit" name="name" value="Sign In">
  <br>
  <br>
  <p>
    <%= link_to "Need to make an account? Sign up", new_user_url %>
  </p>
</form>

<form class="input-group demo-form" action=<%= session_url %> method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name=user[username] value="Guest">
  <input type="hidden" name=user[password] value="password">
  <input class="btn demo-btn" type="submit" value="Sign in with demo account">
</form>
