<form class="input-group user-auth" action=<%= users_url %> method="post">
  <img class="user-auth-logo" src="/assets/FoodieFridge-logo.png" />

  <% if flash[:errors] %>
    <div class="alert alert-danger text-center" role="alert">
      <% flash[:errors].each do |error| %>
        <%= error %> <br>
      <% end %>
    </div>
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input class="form-control" type="text" name=user[username] value="" id="username" placeholder="Username">
  <br>
  <br>
  <input class="form-control" type="password" name=user[password] value="" id="password" placeholder="Password">
  <br>
  <br>
  <input class="form-control purple-button" type="submit" name="name" value="Sign Up">
  <br>
  <br>
  <p>
    <%= link_to "Already have an account? Sign in", new_session_url %>
  </p>
</form>

<form class="input-group demo-form" action=<%= users_url %> method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name=user[username] value="<%= "Guest" + rand(1..100000).to_s %>">
  <input type="hidden" name=user[password] value="password">
  <input class="btn demo-btn" type="submit" value="Sign in as Guest">
</form>
