<!DOCTYPE html>
<html>
<head>
  <title>FoodieFridge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='user-pane'>
  <% if current_user %>

    <header class="header">
      <nav class="header-nav group">
        <a href="/"><img class="fridge-logo" src="assets/FoodieFridge-logo.png"/></a>


        <ul class="header-list group">
          <div class="hello-username item header-words">
            Hello
            <%= current_user.username %>
          </div>

          <%= link_to "About", "#my-modal", :class => "item about header-words", "data-toggle" => "modal" %>
          <div class="modal fade" id="my-modal" title="My modal">
            <div class="modal-header" style="background:orange">
              <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
              <h3 id="myModalLabel">Modal header</h3>
            </div>
            <div class="modal-body" style="background:green">
              Modal Body
            </div>
            <div class="modal-footer" style="background:yellow">
              <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>


          <div class="item logout-button">
            <%= button_to "Log out", session_url, method: :delete %>
          </div>

        </ul>
      </nav>
    </header>


  <% end %>
</div>

<br>

<%= yield %>

<br>


</body>
</html>
