<!DOCTYPE html>
<html>
<head>
  <title>FoodieFridge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='user-pane'>
  <% if current_user %>

    <header class="header">
      <nav class="header-nav group">
        <a href="/"><img class="fridge-logo" src="assets/FoodieFridge-logo.png"/></a>
        <ul class="header-list group">
          <li class="hello-username">
            Hello
            <%= current_user.username %>
          </li>

          <li class="navbar-btn logout-button">
            <%= button_to "Log out", session_url, method: :delete %>
          </li>
        </ul>
      </nav>
    </header>


  <% end %>
</div>

<br>

<%= yield %>

<br>


</body>
</html>
