<!DOCTYPE html>
<html>
<head>
  <title>FoodieFridge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72919213-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

<div class='user-pane'>
  <% if current_user %>

    <header class="header">
      <nav class="header-nav group">
        <a href="/"><img class="fridge-logo" src="assets/FoodieFridge-logo.png"/></a>


        <ul class="header-list group">
          <div class="hello-username item header-words">
            Welcome
            <%= current_user.username %>
          </div>

          <%= link_to "About", "#my-modal", :class => "item about header-words", "data-toggle" => "modal" %>
          <div class="modal fade" id="my-modal" title="About" onclick="ga('send', 'event', 'External Link', 'FoodieFridge', 'Modal');">

            <div class="modal-header">
              <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
              <img class="fridge-logo about-fridge" src="assets/FoodieFridge-logo.png"/>
            </div>

            <div class="modal-body">
              Users can search through millions of recipes gathered from every corner of the
              internet. Recipes can be found and filtered by placing ingredients into "All My Ingredients" or "Required Ingredients".<br/><br/>
              <strong><h3>How it works:</h3></strong>
              Drag and drop recipe tiles into the "All My Ingredients" or "Required Ingredients" boxes to search for recipes.</br>
              <strong>All My Ingredients:</strong> FoodieFridge will return up to 10 recipes for EACH item in this category.<br/>
              <strong>Required Ingredients:</strong> Every recipe search result will contain ALL ingredients in this category.</br></br>
              FoodieFridge was created by Chris Umbach using Ruby on Rails and React.js. You can view the source code on <a href="https://github.com/cumbach/FoodieFridge">Github</a>.<br/>
              <a href="http://www.chrisumbach.com/">Click Here</a> to view Chris's other projects or to get in touch.
            </div>

            <div class="modal-footer">
              <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>


          <div class="item logout-button">
            <%= button_to "Log out", session_url, method: :delete %>
          </div>

        </ul>
      </nav>
    </header>


  <% end %>
</div>

<br>

<%= yield %>

<br>


</body>
</html>
