<!DOCTYPE html>
<html>
<head>
  <title>FoodieFridge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='user-pane'>
  <% if current_user %>

    <header class="header">
      <nav class="header-nav group">
        <img class="fridge-logo" src="assets/FoodieFridge-logo.png"/>
        <h3 class="hello-username">
          Hello
          <%= current_user.username %>
        </h3>


        <ul class="header-list group">

          <!-- About goes here -->
          <div class="logout-button">
            <%= button_to "Log out", session_url, method: :delete %>
          </div>
        </ul>
      </nav>
    </header>

  <% else %>
    <%= link_to "Sign In", new_session_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %>
</div>

<br>

<%= yield %>

<br>
<%= render 'shared/errors' %>

</body>
</html>
